@using SupportingClass;
@model CustomerCreate


@{
    DateTimeFormatter _datetime = new DateTimeFormatter();
    string time = _datetime.ConvertTime("22:45", "EN");

    string date = _datetime.ConvertDate((DateTime.Now).ToString(), "EN");
}

<p>@date, @time</p>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter Your Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
        <span asp-validation-for="Phone"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>